div.preloader{
  opacity: 0.3;
}

.table-striped  tbody  tr:nth-of-type(odd) {
  background-color: transparent;
}
.table-striped > tbody > tr:nth-of-type(odd){
  background-color: transparent;
}

.wrap_commercial_top{
  display: flex;

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    display: block;
  }

}




.commercial{
  width: 20%;
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    width: 100%;
  }
  .in_commercial{
    background-color: grey;
    height: 100%;
    min-height: 125px;

  }
}


.clearTableBorder{
  border: none;
  .wins-item{
    position: initial;
  }
  .wins-item-inner{
    padding: 0;
  }
  .wins-item-inner .row-ava{
     flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    max-width: 100px;
  }


  th a{
    color: #6B5C90;;
  }

  .numberClass{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding-top: 2em;
    min-height: 100%;
  }
  .fNumberHeader{
    display: flex;
    justify-content: center;
  }
.cellTable{
  vertical-align: middle;
}


//    mobile start
  /*
Generic Styling, for Desktops/Laptops
*/


  /*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {


      width: 100%;
      float: initial;


    table {
      width: 100%;
      border-collapse: collapse;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
      background: #eee;
    }
    th {
      background: #333;
      color: white;
      font-weight: bold;
    }
    td, th {
      padding: 6px;
      border: 1px solid #ccc;
      text-align: left;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 45%!important;
    }
    td:nth-of-type(2) {
      padding-left: 0!important;
      .wins-item-inner .row-ava{
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        max-width: 100px;
      }
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1){ display: none; }
    td:nth-of-type(2):before { content: ""; }
    td:nth-of-type(3):before { content: "Profit"; }
    td:nth-of-type(4):before { content: "Проходимость"; }
    td:nth-of-type(5):before { content: "Коэффициент"; }
    td:nth-of-type(6):before { content: "ROI"; }
  }

// mobile end


}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
  border: none;
  color: white;
}


.avatar__user-block .avatar__user-inner img {
  border-radius: 100%;
}


.header-inner .user-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 500px;
  -moz-box-flex: 0;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  max-width: 500px;
  padding-left: 30px;
}
.header-inner .menu-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(100% - 700px);
  -moz-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 700px);
  flex: 0 0 calc(100% - 700px);
  max-width: -webkit-calc(100% - 700px);
  max-width: -moz-calc(100% - 700px);
  max-width: calc(100% - 700px);
}
.faq-block_2 a {
  font-weight: 800;
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1px;
  line-height: 14px;
}

.head-open-bet .title-open-bet {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(100% - 255px);
  -moz-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 255px);
  flex: 0 0 calc(100% - 255px);
  max-width: -webkit-calc(100% - 255px);
  max-width: -moz-calc(100% - 255px);
  max-width: calc(100% - 255px);
}

.progresse_bare {
  background: #d00069;
  display: block;
  height: 20px;
  text-align: center;
  //transition: width .3s;
  transition: width 3s linear;
  width: 0;
}

.progresse_bare.hide {
  opacity: 0;
  transition: opacity 1.3s;
}


.avatar-status-bet.avatar-status-bet-create {
  background: url(/images/ques1.png) center center no-repeat gray;
  -o-background-size: 14px auto;
  background-size: 14px auto;
}

.avatar-status-bet.avatar-status-bet-returno {
  background: url(/images/lr1.png) center center no-repeat lightgray;
  -o-background-size: 14px auto;
  background-size: 14px auto;
}

.avatar-status-bet.avatar-status-bet-manualo {
  background: url(/images/lr1m.png) center center no-repeat #820707;
  -o-background-size: 14px auto;
  background-size: 14px auto;
}


.in_commercial{
  background: url(https://www.e-reading.club/cover/1056/1056769.jpg) no-repeat center center;
  background-size: cover;
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
    background: url(https://sportum.com.ua/wp-content/uploads/2017/11/664x276.jpg) no-repeat center center;
    background-size: cover;
  }

}

.prizeplace p{
  font-size: large!important;
}
.avatar-user>img{
 border-radius: 100%;
}

.search-block{
  display: none;
}

.user-acc-text{

  overflow: hidden;
  p{
    max-height: 50px;
    height: 50px;
  }

}

.wrapModaleText  {
  p{
    color: black;
  }

}


.static-footer-bets-value.fill-all {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}


.stats-table.tbl-width-pl .head-with-tabs .right-head-tab {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(100% - 630px);
  -moz-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 630px);
  flex: 0 0 calc(100% - 630px);
  max-width: -webkit-calc(100% - 630px);
  max-width: -moz-calc(100% - 630px);
  max-width: calc(100% - 630px);
}

.text-head > .user-money {
  font-weight: 700;
  font-size: 25px;
  color: #8DB055;
  letter-spacing: 0;
  text-align: right;
  line-height: 25px;
}


.text-head > .currency{
  font-weight: 700;
  font-size: 15px;
  color: #6B5C90;
}


#sportTypeSidebar{
  .collapse-list li a.trigger-sub-collapse{
    padding-bottom: 8px;
    padding-top: 8px;
    //border-bottom: solid 1px lightblue;
  //  margin-left: 14px;
  }

  .collapse-list li a.trigger-sub-collapse.flevel{
    line-height: 18px;
  }
  .collapse-list li a .flag{
    display: none;
  }
}

.row-collapse-inner .bet-parent-val.activePink, .collapse-open-bet-item .bets-val.activePink {
  background-color: #D00069;
  .title-bet, .mobile-name, .name-b, .coefficient-b{
    color: white;
  }
}

#wrapePlayliste{

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8887ad;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8887ad;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #8887ad;
  }

  .input-create{
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    background: lightgrey;
    input{
      padding: 5px;
    }
  }

  .btn-create{
    margin-top: 5px;
  }
}

.content-center-block+.content-center-block{
  margin-top: 0;
}

.more-bets-info p.balanceText{
  font-size: large;
  color: white;
}

.column-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}


.wl{
  color: white;
  font-size: large;
}

.list-stats-tbl li .list-stats-tbl-val{
  font-size: 38px;
}
