div.preloader {
  opacity: 0.3;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}
.wrap_commercial_top {
  display: flex;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .wrap_commercial_top {
    display: block;
  }
}
.commercial {
  width: 20%;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .commercial {
    width: 100%;
  }
}
.commercial .in_commercial {
  background-color: grey;
  height: 100%;
  min-height: 125px;
}
.clearTableBorder {
  border: none;
  /*
Generic Styling, for Desktops/Laptops
*/
  /*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
}
.clearTableBorder .wins-item {
  position: initial;
}
.clearTableBorder .wins-item-inner {
  padding: 0;
}
.clearTableBorder .wins-item-inner .row-ava {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  max-width: 100px;
}
.clearTableBorder th a {
  color: #6B5C90;
}
.clearTableBorder .numberClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 2em;
  min-height: 100%;
}
.clearTableBorder .fNumberHeader {
  display: flex;
  justify-content: center;
}
.clearTableBorder .cellTable {
  vertical-align: middle;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .clearTableBorder {
    width: 100%;
    float: initial;
    /* Zebra striping */
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
    Label the data
    */
  }
  .clearTableBorder table {
    width: 100%;
    border-collapse: collapse;
  }
  .clearTableBorder tr:nth-of-type(odd) {
    background: #eee;
  }
  .clearTableBorder th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  .clearTableBorder td,
  .clearTableBorder th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }
  .clearTableBorder table,
  .clearTableBorder thead,
  .clearTableBorder tbody,
  .clearTableBorder th,
  .clearTableBorder td,
  .clearTableBorder tr {
    display: block;
  }
  .clearTableBorder thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .clearTableBorder tr {
    border: 1px solid #ccc;
  }
  .clearTableBorder td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 45%!important;
  }
  .clearTableBorder td:nth-of-type(2) {
    padding-left: 0!important;
  }
  .clearTableBorder td:nth-of-type(2) .wins-item-inner .row-ava {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    max-width: 100px;
  }
  .clearTableBorder td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .clearTableBorder td:nth-of-type(1) {
    display: none;
  }
  .clearTableBorder td:nth-of-type(2):before {
    content: "";
  }
  .clearTableBorder td:nth-of-type(3):before {
    content: "Profit";
  }
  .clearTableBorder td:nth-of-type(4):before {
    content: "Проходимость";
  }
  .clearTableBorder td:nth-of-type(5):before {
    content: "Коэффициент";
  }
  .clearTableBorder td:nth-of-type(6):before {
    content: "ROI";
  }
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: none;
  color: white;
}
.avatar__user-block .avatar__user-inner img {
  border-radius: 100%;
}
@media screen and (min-width: 760px) {
  .header-inner .user-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 500px;
    -moz-box-flex: 0;
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
    max-width: 500px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .hide-btn-search-block {
    display: none;
  }
}
.header-inner .menu-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(-600%);
  -moz-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 700px);
  flex: 0 0 calc(100% - 700px);
  max-width: -webkit-calc(-600%);
  max-width: -moz-calc(-600%);
  max-width: calc(100% - 700px);
}
.faq-block_2 a {
  font-weight: 800;
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1px;
  line-height: 14px;
}
.head-open-bet .title-open-bet {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(-155%);
  -moz-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 255px);
  flex: 0 0 calc(100% - 255px);
  max-width: -webkit-calc(-155%);
  max-width: -moz-calc(-155%);
  max-width: calc(100% - 255px);
}
.progresse_bare {
  background: #d00069;
  display: block;
  height: 20px;
  text-align: center;
  transition: width 3s linear;
  width: 0;
}
.progresse_bare.hide {
  opacity: 0;
  transition: opacity 1.3s;
}
.avatar-status-bet.avatar-status-bet-create {
  background: url(/images/ques1.png) center center no-repeat gray;
  -o-background-size: 14px auto;
  background-size: 14px auto;
}
.avatar-status-bet.avatar-status-bet-returno {
  background: url(/images/lr1.png) center center no-repeat lightgray;
  -o-background-size: 14px auto;
  background-size: 14px auto;
}
.avatar-status-bet.avatar-status-bet-manualo {
  background: url(/images/lr1m.png) center center no-repeat #820707;
  -o-background-size: 14px auto;
  background-size: 14px auto;
}
.in_commercial {
  background: url(https://www.e-reading.club/cover/1056/1056769.jpg) no-repeat center center;
  background-size: cover;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .in_commercial {
    background: url(https://sportum.com.ua/wp-content/uploads/2017/11/664x276.jpg) no-repeat center center;
    background-size: cover;
  }
}
.prizeplace p {
  font-size: large!important;
}
.avatar-user > img {
  border-radius: 100%;
}
.search-block {
  display: none;
}
.user-acc-text {
  overflow: hidden;
}
.user-acc-text p {
  max-height: 50px;
  height: 50px;
}
.wrapModaleText p {
  color: black;
}
.static-footer-bets-value.fill-all {
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
}
.stats-table.tbl-width-pl .head-with-tabs .right-head-tab {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(-530%);
  -moz-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 630px);
  flex: 0 0 calc(100% - 630px);
  max-width: -webkit-calc(-530%);
  max-width: -moz-calc(-530%);
  max-width: calc(100% - 630px);
}
.text-head > .user-money {
  font-weight: 700;
  font-size: 25px;
  color: #8DB055;
  letter-spacing: 0;
  text-align: right;
  line-height: 25px;
}
.text-head > .currency {
  font-weight: 700;
  font-size: 15px;
  color: #6B5C90;
}
#sportTypeSidebar .collapse-list li a.trigger-sub-collapse {
  padding-bottom: 8px;
  padding-top: 8px;
}
#sportTypeSidebar .collapse-list li a.trigger-sub-collapse.flevel {
  line-height: 18px;
}
#sportTypeSidebar .collapse-list li a .flag {
  display: none;
}
.row-collapse-inner .bet-parent-val.activePink,
.collapse-open-bet-item .bets-val.activePink {
  background-color: #D00069;
}
.row-collapse-inner .bet-parent-val.activePink .title-bet,
.collapse-open-bet-item .bets-val.activePink .title-bet,
.row-collapse-inner .bet-parent-val.activePink .mobile-name,
.collapse-open-bet-item .bets-val.activePink .mobile-name,
.row-collapse-inner .bet-parent-val.activePink .name-b,
.collapse-open-bet-item .bets-val.activePink .name-b,
.row-collapse-inner .bet-parent-val.activePink .coefficient-b,
.collapse-open-bet-item .bets-val.activePink .coefficient-b {
  color: white;
}
#wrapePlayliste ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8887ad;
  opacity: 1;
  /* Firefox */
}
#wrapePlayliste :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8887ad;
}
#wrapePlayliste ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8887ad;
}
#wrapePlayliste .input-create {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  background: lightgrey;
}
#wrapePlayliste .input-create input {
  padding: 5px;
}
#wrapePlayliste .btn-create {
  margin-top: 5px;
}
.content-center-block + .content-center-block {
  margin-top: 0;
}
.more-bets-info p.balanceText {
  font-size: large;
  color: white;
}
.column-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.wl {
  color: white;
  font-size: large;
}
.list-stats-tbl li .list-stats-tbl-val {
  font-size: 38px;
}
.modal-backdrop.in {
  z-index: 0;
}
.social-login > .soc-login .auth-icon {
  position: relative;
  top: 23px;
}
.auth-icon.facebook {
  background-position: 0 -170px;
}
.auth-icon.google {
  background-position: 0 -34px;
}
.auth-icon.vkontakte {
  background-position: 0 -136px;
}
.auth-icon {
  display: block;
  width: 32px;
  height: 32px;
  background: url(/images/error/authchoice.png) no-repeat;
  border-radius: 3px;
  margin: 0 auto;
}
.hide-btn-search-block {
  display: none;
}
@media screen and (min-width: 767px) {
  .faq-block_2.v2,
  .faq-block.v2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .faq-block_2.v2,
  .faq-block.v2 {
    display: initial;
  }
}
@media screen and (max-width: 767px) {
  .header-inner .logo-block a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(/images/logo_white.svg) center center no-repeat;
  }
  .header-inner .logo-block a img {
    width: 1%;
  }
}
@media screen and (max-width: 420px) {
  .add-block {
    padding-right: 10px;
  }
}
.alert-info {
  color: white;
  background-color: #337697;
  border-color: #bce8f1;
}
@media screen and (max-width: 767px) {
  .header-main {
    overflow: initial;
  }
}
@media screen and (max-width: 767px) {
  .chart-wrapper {
    padding: 0;
  }
}
.list-answer li {
  line-height: 10px;
}
.btn-default {
  background-color: transparent;
}
.btn-default:hover {
  background-color: initial;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: initial;
}
.btn-primary:focus,
.btn-primary.focus {
  background-color: #D00069;
}
